<md-card id="league-standings">
  <md-card-header  class="title-wrapper">
    <md-card-title>
      <h2>League Standings</h2>
    </md-card-title>
  </md-card-header>
  <p>These numbers will be real time by the end of the day today.</p>
  <md-card-content>
    <md-list *ngIf="teams.length > 0">
       <md-list-item *ngFor="let team of teams; let i = index" [attr.data-key]="i" class="list-item">
        <div class="standings-row">
          <div class="info-team">
            <p class="info-team-score">{{team.lp}}</p>
            <p class="team-name">{{team.$key}}</p>
          </div>
          <div class="info-place">
            {{i+1}}<sup>{{sup(i+1)}}</sup>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>